body{
    background-color: black;
    color: azure;
    font-family: sans-serif;
    margin: 0;
  
   
    
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


ul li{
    display: inline;
    list-style: none;


}



li a{
    margin: 1rem;
    color: aliceblue;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
    display: inline-block;
}

li a:hover{
    color: rgb(255, 124, 1);
    transform: scale(1.2);
}


nav p{
    font-size: 1.4rem;
    padding: 0rem 2rem;
}

nav span{
    
    color: rgb(255, 124, 1)   ;
}



h1{  
    width: 200px;
    text-align: center;
    margin:1rem auto;
    letter-spacing: 1rem;
    padding: 2rem;
    border-bottom: 2px solid;
    border-image: linear-gradient(to right, darkblue, darkorchid) 1;
}

.btn{
    width: 10rem;
    height:2rem;
    border: none;
    border-radius: 1rem;
    background-color: rgb(94, 155, 207);
}

.btn:hover{
    

    background-color: rgb(142, 189, 230);
}
